*{
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
/*Headder*/
.ocultable{
    background-color:rgba(28, 209, 176, 1);
    padding: 5px;
}
h1{
    text-transform: uppercase;
    background-color: rgba(0, 102, 159, 1);
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 999;
}
/*main*/
.figus{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1500px;
}
.fa-heart{
    position: absolute;
    color: red;
    top: 5px;
    left: 10px;
}
.figu1,.figu2,.figu3,.figu4{
    position: relative;
    width: 300px;
    height: 500px;
    border: 2px solid grey;
    border-radius: 15px 15px 0 0;
    background-color: rgba(243, 243, 243, 1);
    box-shadow: 0px 4px 10px rgba(0,0,0,0.25);

}
/*Figurita 1*/
.figuArriba1{
    position: relative;
    height: 200px;
    /* border: 2px solid green; */
    background-image: url("../img/fondoBatman.svg");
    background-repeat: no-repeat;
    border-radius: 15px 15px 0 0;
    background-position: center;
    background-size: cover;
}

.figuTexto1{
    margin-top: 55px;
    text-align: center;
    padding: 0 10px;
}
.figuTexto1 p{
    text-align: left;
    margin: 20px 0;
}
.figuTexto1 a{
    text-decoration: none;
    color: white;
    background-color: rgba(0, 102, 159, 1);
    padding: 15px;
    border-radius: 5%;
}
/*Figurita 2*/
.figuArriba2{
    position: relative;
    height: 200px;
    /* border: 2px solid green; */
    background-image: url("../img/fondoHarley.svg");
    background-repeat: no-repeat;
    border-radius: 15px 15px 0 0;
    background-position: center;
    background-size: cover;
}
.figuTexto2{
    margin-top: 55px;
    text-align: center;
    padding: 0 10px;
}
.figuTexto2 p{
    text-align: left;
    margin: 20px 0;
}
.figuTexto2 a{
    text-decoration: none;
    color: white;
    background-color: rgba(0, 102, 159, 1);
    padding: 15px;
    border-radius: 5%;
}
/*Figurita 3*/
.figuArriba3{
    position: relative;
    height: 200px;
    /* border: 2px solid green; */
    background-image: url("../img/fondoHarley.svg");
    background-repeat: no-repeat;
    border-radius: 15px 15px 0 0;
    background-position: center;
    background-size: cover;
}
.figuTexto3{
    margin-top: 55px;
    text-align: center;
    padding: 0 10px;
}
.figuTexto3 p{
    text-align: left;
    margin: 20px 0;
}
.figuTexto3 a{
    text-decoration: none;
    color: white;
    background-color: rgba(0, 102, 159, 1);
    padding: 15px;
    border-radius: 5%;
}
/*Figurita 4*/

.figuArriba4{
    position: relative;
    height: 200px;
    /* border: 2px solid green; */
    background-image: url("../img/fondoHarley.svg");
    background-repeat: no-repeat;
    border-radius: 15px 15px 0 0;
    background-position: center;
    background-size: cover;
}
.figuTexto4{
    margin-top: 55px;
    text-align: center;
    padding: 0 10px;
}
.figuTexto4 p{
    text-align: left;
    margin: 20px 0;
}
.figuTexto4 a{
    text-decoration: none;
    color: white;
    background-color: rgba(0, 102, 159, 1);
    padding: 15px;
    border-radius: 5%;
}
.avatar{
    border-radius: 50%;
    position: absolute;
    left: 50% ;
    transform: translateX(-50%);
    top: 135px;
    height: 125px;
}

/* i{
    color: red;
    background-color: pink;
    border-radius: 45%;
    position: relative;
    left: 15px;
    top: 15px;
}
.avatar{
    position: relative;
    bottom: 10%;
}
.nombreHeroe{
    text-align: center;
    position: relative;
    bottom: 10%;
}
.datosHeroe{
    text-align: left;
    position: relative;
    top: 10%;
}
.boton{
    background-color: rgba(0, 102, 159, 1);
    border-radius: 8%;
    padding: 2.5% 5%;
}
.boton>a{
    text-decoration: none;
    color: rgba(243, 243, 243, 1);
}
 */

/*footer*/
footer{
    position: fixed;
    background-color: rgba(0, 102, 159, 1);
    ;
    color: cornsilk;
    bottom: 0%;
    padding-bottom: 0.3%;
    padding-top: 0.3%;
    width: 100%;
    text-transform: uppercase;
    text-align:center;
}