*{
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
/*Headder*/
.ocultable{
    background-color:rgba(28, 209, 176, 1);
    padding: 5px;
}
h1{
    text-transform: uppercase;
    background-color: rgba(0, 102, 159, 1);
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 999;
}
/*main*/
.avatar{
    border-radius: 50%;
}
.figus{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.figus>div{
    background-color: rgba(243, 243, 243, 1);
    padding: 5px;
    margin: 5px;
    max-width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.fondoFigurita1{
    background-image: url(../img/fondoBatman.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
    width: 280px;
}
.fondoFigurita2{
    background-image: url(../img/fondoHarley.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
    width: 280px;
}
.fondoFigurita3{
    background-image: url(../img/fondoBatman.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
    width: 280px;
}
i{
    color: red;
    background-color: pink;
    border-radius: 45%;
    position: relative;
    left: 15px;
    top: 15px;
}
.avatar{
    position: relative;
    bottom: 10%;
}
.nombreHeroe{
    text-align: center;
    position: relative;
    bottom: 10%;
}
.datosHeroe{
    text-align: left;
    position: relative;
    top: 10%;
}
.boton{
    background-color: rgba(0, 102, 159, 1);
    border-radius: 8%;
    padding: 2.5% 5%;
}
.boton>a{
    text-decoration: none;
    color: rgba(243, 243, 243, 1);
}


/*footer*/
footer{
    position: fixed;
    background-color: rgba(0, 102, 159, 1);
    ;
    color: cornsilk;
    bottom: 0%;
    padding-bottom: 0.3%;
    padding-top: 0.3%;
    width: 100%;
    text-transform: uppercase;
    text-align:center;
}